* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("https://storage.googleapis.com/a1aa/image/7FAhBvHfGWy6MaQwNNRQi8uAkdfAsfQn8ie9VnQkMriHQqFPB.jpg");

}